<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>LDAP Search</title>
  <style type="text/css">
    body {
      font-family: sans-serif;
    }

    table {
      margin: 10px;
    }

    thead {
      border-bottom: 1px solid black;
    }

    td {
      padding: 0.5rem;
    }
  </style>
</head>
<body>
  <h1>LDAP Search</h1>

  <%= yield %>
</body>
</html>